@font-face {
  font-family: 'icomoon';
  src:  url('../icon-font/icomoon/fonts/icomoon.eot?eqy57z');
  src:  url('../icon-font/icomoon/fonts/icomoon.eot?eqy57z#iefix') format('embedded-opentype'),
    url('../icon-font/icomoon/fonts/icomoon.ttf?eqy57z') format('truetype'),
    url('../icon-font/icomoon/fonts/icomoon.woff?eqy57z') format('woff'),
    url('../icon-font/icomoon/fonts/icomoon.svg?eqy57z#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"]::before, [class*=" icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-grid:before {
  content: "\e913";
}
.icon-list:before {
  content: "\e914";
}
.icon-clock:before {
  content: "\e90e";
  color: #787a80;
}
.icon-calendar:before {
  content: "\e90a";
}
.icon-file:before {
  content: "\e90b";
}
.icon-mic:before {
  content: "\e90c";
}
.icon-play:before {
  content: "\e90d";
}
.icon-instagram:before {
  content: "\e910";
}
.icon-telegram:before {
  content: "\e911";
}
.icon-youtube:before {
  content: "\e912";
}
.icon-behance:before {
  content: "\e90f";
}
.icon-prev-btn:before {
  content: "\e908";
}
.icon-next-btn:before {
  content: "\e909";
}
.icon-like:before {
  content: "\e900";
}
.icon-Chat:before {
  content: "\e901";
}
.icon-Layouts:before {
  content: "\e902";
}
.icon-Star:before {
  content: "\e903";
}
.icon-facebook:before {
  content: "\e904";
}
.icon-google:before {
  content: "\e905";
}
.icon-linked-in:before {
  content: "\e906";
}
.icon-twitter:before {
  content: "\e907";
}
